In [6]:
import numpy as np
import pandas as pd

In [7]:
content = pd.read_csv('DataSheet2.csv')

In [15]:
content

     duration voicing   word segment speed participant  Unnamed: 6
0      123.44      Vd    cud       ʌ  fast        Alex         NaN
1      126.07      Vd    mug       ʌ  fast        Alex         NaN
2       81.69      Vd  piggy       I  fast        Alex         NaN
3      270.59      Vd   rise      aI  fast        Alex         NaN
4      187.55      Vd    aid      eI  fast        Alex         NaN
..        ...     ...    ...     ...   ...         ...         ...
698    312.02      Vl   rice      aI  slow        Gena         NaN
699    245.19      Vl  eight      eI  slow        Gena         NaN
700    270.28      Vl  batch       æ  slow        Gena         NaN
701     97.27      Vl  picky       I  slow        Gena         NaN
702       NaN     NaN    NaN     NaN   NaN         NaN         NaN

[703 rows x 7 columns]

In [16]:
content.head(10)

   duration voicing    word segment speed participant  Unnamed: 6
0    123.44      Vd     cud       ʌ  fast        Alex         NaN
1    126.07      Vd     mug       ʌ  fast        Alex         NaN
2     81.69      Vd   piggy       I  fast        Alex         NaN
3    270.59      Vd    rise      aI  fast        Alex         NaN
4    187.55      Vd     aid      eI  fast        Alex         NaN
5    160.02      Vd  burden     ɜ:ʳ  fast        Alex         NaN
6    224.01      Vd   badge       æ  fast        Alex         NaN
7    101.76      Vd  bigger       I  fast        Alex         NaN
8    192.92      Vd     bug       ʌ  fast        Alex         NaN
9    100.72      Vd  nibble       I  fast        Alex         NaN

In [24]:
voiced = content[content.voicing == 'Vd']
voiced

     duration voicing    word segment speed participant  Unnamed: 6
0      123.44      Vd     cud       ʌ  fast        Alex         NaN
1      126.07      Vd     mug       ʌ  fast        Alex         NaN
2       81.69      Vd   piggy       I  fast        Alex         NaN
3      270.59      Vd    rise      aI  fast        Alex         NaN
4      187.55      Vd     aid      eI  fast        Alex         NaN
..        ...     ...     ...     ...   ...         ...         ...
684    247.95      Vd     bug       ʌ  slow        Gena         NaN
685    116.39      Vd  nibble       I  slow        Gena         NaN
686    344.65      Vd   leave       i  slow        Gena         NaN
687    332.93      Vd   serve     ɜ:ʳ  slow        Gena         NaN
688    151.65      Vd   fuzzy       ʌ  slow        Gena         NaN

[351 rows x 7 columns]

In [28]:
content.loc[0:12, 'duration']

0     123.44
1     126.07
2      81.69
3     270.59
4     187.55
5     160.02
6     224.01
7     101.76
8     192.92
9     100.72
10    206.82
11    184.00
12     94.93
Name: duration, dtype: float64

In [29]:
content.describe()

         duration  Unnamed: 6
count  702.000000         0.0
mean   142.203305         NaN
std     83.305975         NaN
min     21.800000         NaN
25%     83.522500         NaN
50%    118.865000         NaN
75%    176.187500         NaN
max    564.340000         NaN

In [30]:
#import matplotlib to plot chart
import matplotlib.pyplot as plt
#plot inline in notebook (not separate page)
%matplotlib inline

In [31]:
content.head()

   duration voicing   word segment speed participant  Unnamed: 6
0    123.44      Vd    cud       ʌ  fast        Alex         NaN
1    126.07      Vd    mug       ʌ  fast        Alex         NaN
2     81.69      Vd  piggy       I  fast        Alex         NaN
3    270.59      Vd   rise      aI  fast        Alex         NaN
4    187.55      Vd    aid      eI  fast        Alex         NaN

In [37]:
plt.bar(duration, voicing)

NameError: name 'duration' is not defined